{% load static %}
<html>
    <head>
        <title>Home - MySite</title>
        <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/auth.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    </head>
    <body>
        <h3>Hello World!</h3>
    </body>

    {% if user.is_authenticated %}
        <h3>Welcome back, {{request.user.username}} {{request.user.email}}</h3>
    {% else %}
        <h3>Please, login or register</h3>
    {% endif %}

    <button onclick="printCookie()">Login</button>

    <!--adding javascript file-->
    {% block scripts %}
    <script src="{% static 'frontend/home/js/home.js' %}"></script>
    {% endblock scripts %}
</html>